.college-logo {
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 250px;
}

.header-portion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f5e162;
    margin: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
}

.counselling {
    text-align: center;
}

.college-name {
    font-family: Copperplate;
}

.certified-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: yellow;
    border-radius: 10px;
}

.certified-img-container {
    background-size: cover;
    padding: 10px;
}

.certified-img {
    width: 75px;
    height: 75px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    list-style-type: none;
    background-color: #fabe7a;
    background-size: cover;
    margin: 15px;
    border-radius: 0px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.nav-list {
    background-color: #f5972c;
    background-size: cover;
    padding: 5px;
    margin: 5px;
    border-style:double;
    border-color: black;
    border-width: 5px;
    border-radius: 5px;
}

.college-photo {
    width: 500px;
    height: 300px;
    padding: 15px;
}

.college-description {
    padding: 15px;
}

.college-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    background-color: #a2b4eb;
    border-radius: 5px;
}

.welcome {
    text-decoration: underline;
    font-family:cursive;
}

button {
    border-radius: 10px;
    background-color: red;
    color: white;
    padding: 5px;
}

.outer-chairman-card {
    padding: 15px;
    margin: 15px;
    background-color: #8a8a8a;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.chairman-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chairman-description {
    padding: 10px;
    background-color: #1e1e1f;
    color: whitesmoke;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.vishnu-img {
    width: 200px;
    height: 200px;
    border-radius: 500px;
    padding: 25px;
    box-shadow: 7px 7px 7px 7px grey;
}

.by-chairman {
    text-align: right;
}

.career-container {
    width: 75%;
    background-color: #7274ed;
    text-align: center;
    border-radius: 30px;
}

.sub-career-container {
    text-align: center;

}

.innovative-career-container {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.sub-innovative-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
    background-color: #27284a;
    border-radius: 30px;
}

.sub-sub-innovative-container {
    text-align: center;
    border-width: 10px;
    border-radius: 5px;
    background-color: #8788e8;
}

.innovative-container {
    display: flex;
    flex: column;
    padding: 10px;
    width: 25%;
}

.programmes-container {
    text-align: center;
    background-color: #7274ed;
    margin: 15px;
    border-radius: 5000px;
    padding: 5px;
}

.ug-programmes {
    padding: 15px;
}

.ug-programme-heading {
    text-align: center;
}

.ug-program-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub-ug-program-container {
    text-align: center;
    border-color: blue;
    border-style: solid;
    border-width: 5px;
    background-color: sandybrown;
    box-shadow: 7px 7px 7px 7px grey;
}

.ug-program-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
}

.ug-program-image {
    width: 200px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    border-radius: 100px;
    border-style: solid;
    border-color: blue;
}

.alumni-testimony {
    padding: 10px;
}

.testimonal-heading {
    text-align: center;
}

.alumni-img-container {
    width: 100px;
    height: 50px;
    background-size: cover;
}

.alumni-img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.alumni-name {
    font: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: initial;
    font-weight: 1500;
}

.alumni-role {
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-display: bold;
    
}

.testimonial-card {
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: #6b5aed;
    border-radius: 5px;
    color: whitesmoke ;
}

.alumni-detail {
    text-align: center;
    padding-left: 10px;
}

.testimonal-coard-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 5px;
    background-color: #edf763;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px 7px grey;
}

.testimonial-para {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.testimonal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.placement-container {
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: #f58484;
    border-radius: 20px;
    padding: 15px;
}

.placement-mnc-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.placement-heading {
    text-align: center;
}

.placement-detail-container {
    display: flex;
    flex-direction: column;
    width: 15%;
}



.placement-mnc-container {
    width: 85%;    
    border-radius: 10px;
    flex-wrap: wrap;
}

.placement-detail-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #8ef58e;
    border-radius: 15px;
    border-width: 10px;
    border-color: black;
    padding: 10px;
}

.placement-heading-container {
    width: 100%;
    height: 100%;
    background-color: #cdf7f6;
    border-radius: 3000px;
}

.placement-mnc-img-container {
    width: 200px;
    height: 150px;
    padding: 5px;
}

.placement-mnc-img {
    width: 200px;
    height: 150px;
    margin: 5px;
}

.center-of-excellence {
    padding: 10px;
}

.coe-heading {
    text-align: center;
}

.coe-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #cdf7f6;
    border-radius: 20px;
    padding: 5px;
}

.coe-description {
    padding: 5px;
    width: 70%;
}

.coe-img-container {
    width: 30%;
}

.coe-image {
    width: 400px;
    height: 300px;
    padding: 10px;
}

.member-of-excellence {
    padding: 30px;
    background-color: #a2b4eb;
    background-size: cover;
    margin: 15px;
    border-radius: 100px;

}

.moe-heading-container {
    text-align: center;
    padding: 5px;
    margin: 15px;
}

.moe-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.moe-image-container {
    width: 30px;
    height: 30px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.moe-image {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding-bottom: 10px;
}

.moe-image-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer-portion {
    list-style-type: none;
    background-color: black;
    color: white;
    padding: 15px;
}

.social-icon {
    width: 20px;
    height: 20px;
    color: white;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-logo-bg {
    background-color: white;
}

.footer-portion-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub-footer-list-container {
    padding: 5px;

}

.footer-description {
    color: white;
}

.list-footer {
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.follow-icon-container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.horizontal-line {
    color: white;
    
}

.copy-right-container {
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    
}